
.carousel-caption.text-start {
    bottom: 175px;
}

.carousel-caption.text-end {
    bottom: 175px;
}

.carousel-caption {
    bottom: 175px;
}

/* color rectangle accueil*/
.p-5.mb-4.bg-light.rounded-3 {
    background-color: #003f89!important;
}  

 /* pos form*/
.form{
    height: 50px;  
    width: 50px;
}

.rond-lieu {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease;
}

/* css du graphic comparaison*/
#GraphComp{

    width: 100%;
    height: 500px;
  
}


body{ 
    font-family: 'Montserrat', sans-serif; background-color: #e2e2e2;
 }
 /*css counter number*/
.main {
    font-size:20px; text-align:center;
 }

.title-plugin{
     font-family: 'Pacifico', cursive; font-size: 50px; color: #003f89}

.block-wrapper{
     margin-right: auto; margin-left: auto; width: 824px; }
  .block{
       color:#003f89; float: left; border: 3px solid #003f89; padding-top: 40px; width: 180px; height: 160px; margin: 10px; width:25%;}
    .block p {
        margin: 0; }
      .block p i{
           font-size: 40px; color: #003f89; }
  .counter-wrapper{
       font-weight:700; margin:5px 0px 5px 0px; font-size: 25px; }
  .text-block{
       font-size: 17px; }

/* width 30% truc du genre*/
  /* icon */
  .lnr-wrapper{ margin-top: 20px }
  .lnr-heart, .lnr-code, .lnr-bicycle, .lnr-history { color: #003f89; font-size: 45px; }

